/*head部分*/
.header{
    position: relative;
    height: 230px;
}
.header .nav{
    height: 30px;
    background-color: #F8F8F8;
}
.header .nav-list{
    height: 20px;
    padding: 5px 0;
}
.nav > .nav-list > ul > li{
    float: right;
    font-size: 12px;
    line-height: 20px;
    border-right: 1px dotted #ccc;
}
.nav-list ul li:first-child{
    border: 0;
}
.nav-list li a{
    display: block;
    height: 100%;
    padding: 0 20px;
    color: #666;
}
.nav-list li a:hover{
    color: #f36;
}
.nav-list li a span{
    float: left;
    width: 18px;
    height: 20px;
    margin-right: 10px;
}
.nav-list li a .wx{
    background: url("../images/top_nav.png") no-repeat -25px center;
}
.nav-list li a .qq{
    background: url("../images/top_nav.png") no-repeat -51px center;
}
.nav-list li a .sc{
    background: url("../images/top_nav.png") no-repeat -75px center;
}
.nav-list li a .gwc{
    background: url("../images/top_nav.png") no-repeat -102px center;
}
.nav-list li a .dd{
    background: url("../images/top_nav.png") no-repeat -127px center;
}
.nav-list li a .bz{
    float: right;
    margin: 0 0 0 10px;
    background: url("../images/top_nav.png") no-repeat -174px center;
}
/*导航划入列表效果*/
.nav-list .tab{
    display: none;
    position: absolute;
    top: 20px;
    left: -1px;
    background-color: #f8f8f8;
    border: 1px solid #eee;
}
.nav-list .tab li{
    width: 116px;
    text-align: center;
}
.nav-list .p-r1:hover .tab1{
    display: block;
}
.nav-list .p-r2:hover .tab2{
    display: block;
}
/*导航划入列表效果结束*/
.header .title{
    height: 160px;
}
.title .logo{
    float: left;
}
.title .logo img{
    margin-top: 38px;
}
.title .searchBox{
    float: left;
    width: 530px;
    height: 100%;
    margin-left: 129px;
}
.title .searchBox .barnews{
    height: 26px;
    margin-top: 26px;
    font-size: 0;
}
.title .searchBox .barnews a{
    display: inline-block;
    width: 55px;
    background-color: #F2F2F2;
    color: #000;
    font-size: 12px;
    text-align: center;
    line-height: 26px;
}
.title .searchBox .barnews .bg{
    background-color: #FF3366;
    color: #fff;
}
.title .searchBox .search input{
    width: 450px;
    height: 24px;
    border: 2px solid #FF3366;
    outline: none;
    text-indent: 10px;
}
.title .searchBox .search [type="button"]{
    float: right;
    width: 72px;
    height: 30px;
    background: #FF3366 url("../images/fangdajing.png") no-repeat center;
    cursor: pointer;
}
.title .searchBox li{
    float: left;
    margin-top: 12px;
    font-size: 12px;
}
.title .searchBox li a{
    padding-right: 9px;
    color: #666;
}
.title .searchBox .font-color a{
    color: #F43162;
}
.title .app{
    float: right;
    width: 210px;
}
/* 主体部分 */
/*主体导航*/
.header .main-nav{
    position: absolute;
    bottom: 0;
    left: 50%;
    width: 100%;
    height: 40px;
    background-color: #fff;
    border-bottom: 1px solid #dedede;
    transform: translate(-50%);
    z-index: 1;
}
.main-nav ul li{
    float: left;
    margin-right: 77px;
    line-height: 40px;
}
.main-nav ul li a{
    padding-bottom: 8px;
    color: #333;
    font-weight: bold;
}
.main-nav ul li a:hover{
    color: #f36;
    border-bottom: 2px solid #f36;
}
.main-nav ul li.first a{
    color: #f36;
    border-bottom: 2px solid #f36;
}
/*主体导航结束*/
/*轮播部分*/
/* .main .banner{
    margin: 10px 0 20px;
    font-size: 0;
    overflow: hidden;
}
.main .banner .banner-img{
    width: 7200px;
}
.main .banner .btn{
    top: 50%;
    margin-top: -22px;
}
.main .banner .btn1{
    left: 0;
}
.main .banner .btn2{
    right: 0;
}
.main .banner ul{
    bottom: 10px;
    left: 50%;
    margin-left: -85px;
}
.main .banner ul li{
    float: left;
    width: 20px;
    height: 10px;
    margin-left: 10px;
}
.main .banner ul li:first-child{
    margin-left: 0;
}
.main .banner ul li:first-child a{
    width: 20px;
    border-radius: 10px;
}
.main .banner ul li a{
    display: block;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: #fff;
    transition: 1s;
}
.main .banner ul li a:hover{
    width: 20px;
    border-radius: 10px;
} */
.main .banner {
    position: relative;
    height: 400px;
    margin: 10px 0 20px;
    overflow: hidden;
}

.main .banner ul {
    position: absolute;
    width: 600%;
}

.main .banner ul li {
    float: left;
}

.main .banner .btn {
    display: none;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
}

.main .banner .btn1 {
    left: 0;
}

.main .banner .btn2 {
    right: 0;
}

.main .banner ol {
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translate(-50%);
}

.main .banner ol li {
    float: left;
    width: 10px;
    height: 10px;
    background-color: #fff;
    border-radius: 50%;
    margin: 0 5px;
    cursor: pointer;
}

.main .banner ol li.present {
    width: 20px;
    border-radius: 5px;
}
/*轮播部分结束*/
.main .classify{
    height: 170px;
    margin-bottom: 50px;
}
.main .classify li{
    float: left;
    height: 100%;
}
/* 今日新品部分 */
.main .main-xp h3{
    margin-bottom: 22px;
    font-weight: normal;
    text-align: center;
    overflow: hidden;
}
.main-xp h3 a{
    margin: 0 20px;
    padding: 12px 0;
    color: #666;
}
.main-xp h3 a.color{
    color: #E40045;
}
.main-xp h3 a span.border{
    padding: 12px 0;
    border-bottom: 3px solid #E40045;
}
.main-xp h3 a:hover span{
    padding: 12px 0;
    border-bottom: 3px solid #E40045;
}
.main-xp h3 a:last-child{
    font-size: 12px;
}
.main-xp h3 a:hover{
    color: #E40045;
}
.main-xp .goods{
    display: none;
    overflow: hidden;
}
.main-xp .goods-bl{
    display: block;
}
.main-xp .goods li{
    float: left;
    width: 224px;
    height: 395px;
    margin: 0 20px 20px 0;
}
.main-xp .goods li img{
    width: 224px;
    height: 340px;
}
.main-xp .goods .del{
    margin-right: 0;
}
.main-xp .goods li p .money{
    color: #f36;
}
.main-xp .goods li p .money::before{
    content: "￥";
}
.main-xp .goods li p .wjx{
    width: 50px;
    color: #999;
    background: url("../images/wjx.png") no-repeat 4px 1px/16px;
    text-align: right;
}
.main-xp .goods li p{
    margin-top: 8px;
    font-size: 14px;
}
.main-xp .goods li p:last-child{
    padding-left: 40px;
    background: url("../images/youxuan.png") no-repeat 0/36px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.main .fine-goods h3{
    margin: 24px 0;
    color: #666;
}
.main .fine-goods h3 a{
    color: #666;
    font-size: 12px;
    font-weight: normal;
}
.main .fine-goods h3 a:hover{
    color: #f36;
}
.fine-goods .goods-box{
    height: 388px;
    margin-bottom: 30px;
}
.fine-goods .goods-box li{
    float: left;
    width: 390px;
    height: 100%;
    border: 1px solid #eee;
}
.fine-goods .goods-box li>a{
    display: block;
    position: relative;
    height: 210px;
    color: #fff;
    font-size: 18px;
    overflow: hidden;
}
.fine-goods .goods-box li>a p{
    margin-top: 42px;
    text-align: center;
}
.fine-goods .goods-box li>a p::after{
    content: "";
    display: inline-block;
    margin-left: 10px;
    border: 5px solid transparent;
    border-left: 5px solid #fff;
}
.fine-goods .goods-box li .shadow{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 50%;
    background: url("../images/shadow.png") no-repeat;
}
.fine-goods .goods-box li .tx {
    background: url("../images/newProduct01.png") 0 0/ cover;
}
.fine-goods .goods-box li .nzk {
    background: url("../images/newProduct02.png") 0 0/ cover;
}
.fine-goods .goods-box li .xxn {
    background: url("../images/newProduct03.png") 0 0/ cover;
}
.fine-goods .goods-box li:nth-child(2){
    margin: 0 12px;
}
.fine-goods .goods-box li .slipper{
    padding: 20px 5px 12px;
}
.fine-goods .goods-box li .slipper img{
    width: 114px;
    height: 130px;
}
.fine-goods .goods-box li .slipper div{
    float: left;
    text-align: center;
}
.fine-goods .goods-box li .slipper .gauge{
    margin: 0 19px;
}
.fine-goods .goods-box li .slipper p{
    margin-top: 5px;
    color: #666;
    font-size: 12px;
}
.fine-goods .goods-box li .slipper a:hover p{
    color: #f36;
}
/* 今日新品部分 */
/* 主体部分结束 */


/*底部*/
.foot{
    height: 300px;
    background-color: #F5F5F5;
    border-top: 1px solid #ddd;
}
.foot .help{
    border-bottom: 1px solid #ddd;
    overflow: hidden;
}
.foot .help dl{
    float: left;
    margin: 30px 50px 5px;
    color: #666;
    font-size: 12px;
    line-height: 40px;
}
.foot .help .del-left{
    margin-left: 0;
}
.help dl dd{
    font-size: 16px;
    font-weight: bold;
}
.help dl dt i {
    float: left;
    width: 22px;
    height: 18px;
    margin-top: 10px;
    background: url("../images/footer-icon.png") no-repeat;
}
.help dl dt .xl-weibo{
    background-position: 0 0;
}
.help dl dt .qzone{
    background-position: -28px 0;
}
.help dl dt .tx-weibo{
    background-position: -56px 0;
}
.help dl dt a{
    color: #666;
}
.help dl dt a:hover{
    color: #f36;
}
.foot .help .left-gauge{
    margin-left: 170px;
}
.help dl dt img{
    margin: 15px 0 0 15px;
}
.foot .box{
    padding: 10px 0;
}
.foot .box p{
    color: #666;
    font-size: 12px;
    text-align: center;
    line-height: 25px;
}
/*底部结束*/


/*侧边栏*/
.sidebar{
    position: fixed;
    right: 0;
    top: 0;
    width: 40px;
    height: 100%;
    background-color: #F6F6F6;
    border-left: 1px solid #ddd;
    z-index: 9;
}
.sidebar ul{
    margin-top: 63px;
}
.sidebar ul li{
    border-top: 1px solid #ddd;
    font-size: 14px;
}
.sidebar ul li a{
    display: block;
    padding: 11px 13px;
    color: #666;
}
.sidebar ul li a .iconfont{
    font-size: 20px;
    color: #f36;
    margin-left: -2px;
}
.sidebar ul li a p{
    margin-bottom: 10px;
    transform: rotate(90deg);
}
.sidebar ul li>a:hover{
    color: #fff;
    background-color: #F33866;
}
.sidebar ul li a:hover i{
    color: #fff;
}
.sidebar ul li:last-child{
    display: none;
    bottom: 0;
    left: 0;
}
/*二维码*/
.sidebar .QR-code{
    display: none;
    top: 63px;
    right: 40px;
    background-color: #fff;
    border: 1px solid #ddd;
}
.sidebar .QR-code::before{
    content: "";
    position: absolute;
    right: -28px;
    top: 50px;
    border: 14px solid transparent;
    border-left: 14px solid #ddd;
}
.sidebar .QR-code::after{
    content: "";
    position: absolute;
    right: -24px;
    top: 52px;
    border: 12px solid transparent;
    border-left: 12px solid #fff;
}
.sidebar ul li:first-child:hover .QR-code{
    display: block;
}
/*侧边栏结束*/