body,ul,ol,p,h1,h3,dl,dd{
    margin: 0;
    padding: 0;
}
li{
    list-style: none;
}
a{
    text-decoration: none;
}
img{
    vertical-align: middle;
}
/* 版心类 */
.w{
    width: 1200px;
    margin: auto;
}
/* 浮动类 */
.f-l{
    float: left;
}
.f-r{
    float: right;
}
/* 定位类 */
.pos-r{
    position: relative;
}
.pos-a{
    position: absolute;
}